/*
 * @Description: scss变量库
 * @Author: hyh
 * @since: 2019-08-08 14:54:10
 * @lastTime: 2019-08-10 16:45:21
 */

/*全局颜色*/
// 主色
$brand-red: #ff293f;
$brand-orange: #ff5c38;
$brand-yellow: #ffa147;
$brand-green: #1dbf60;

// 文字
$text-dark: #3f3f3f;
$text-gary: #c9c9c9;
$text-lgary: #999999;

// 线
$line-gary: #f3f3f3;
$line-red: #ff6e78;

// 投影
$shadow-red: #f4273c;
$shadow-gary: #efefef;

$color-fff: #ffffff;
$color-f4f4f4: #f4f4f4;

// 字体
$pf-light: PingFangSC-Ultralight, sans-serif;
$pf-reg: PingFangSC-Regular, sans-serif;
$pf-med: PingFangSC-Medium, sans-serif;
$pf-bold: PingFangSC-Semibold, sans-serif;
